[Unit]
Description=Shutdown Service
After=sysinit.target

[Service]
ExecStart=/usr/bin/python3 -u shutdown.py
WorkingDirectory=/home/pi/scripts
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
